#!/bin/sh

export HUBOT_SLACK_TOKEN="YOUR_SLACK_TOKEN_HERE"

npm install

case $1 in
  start)
    ./node_modules/.bin/forever start -c sh ./bin/hubot --adapter slack
    ;;
  stop)
    ./node_modules/.bin/forever stopall
    ;;
esac
